<div class="h-28 bg-gray-400 text-white flex items-center justify-center">
  F8
</div>
<mat-grid-list [cols]="gridCols" rowHeight="2:1">
  @for (level of levels; track level.id; let i = $index) {
    @if (!level.isHidden) {
    <mat-grid-tile>
      <a [routerLink]="['/level', level.id]"
         [style.background-color]="level.state=='completed' ?  level.color : ''"
         [style.color]="level.state=='completed' ?  'white' : 'black'"
         [style.border-color]="level.color"
         class="w-32 h-32 rounded-full border-8 flex items-center justify-center">
        <svg class="w-16 h-16 text-purple-500" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
        [style.color]="level.state=='completed' ?  'white' : level.color">
          <path [attr.d]="level.assets.icon" />
        </svg>

      </a>
    </mat-grid-tile>
    }
  }
</mat-grid-list>
