<div class="h-28 bg-gray-400 text-white flex items-center justify-center">
  F8
</div>
<mat-grid-list [cols]="gridCols" rowHeight="2:1">
  @for (level of levels; track level.id; let i = $index) {
    @if (!level.isHidden) {
      <mat-grid-tile>
        <a
          [routerLink]="['/level', level.id]"
          [attr.style]="
      'display: flex;' +
      'align-items: center;' +
      'justify-content: center;' +
      'width: 8rem;' +
      'height: 8rem;' +
      'border-radius: 9999px;' +
      'border: 8px solid ' + level.color + ';' +
      (level.state === 'completed'
        ? 'background-color:' + level.color + ';color:white;'
        : level.state === 'halfCompleted'
        ? 'background: linear-gradient(to right, rgba(' +
          getRgb(level.color) + ', 0.5) 50%, white 50%);color:black;'
        : 'background-color:white;color:black;')
    "
        >
          <svg
            class="w-16 h-16"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            [attr.style]="'color:' + (level.state === 'completed' ? 'white' : level.color)"
          >
            <path [attr.d]="level.assets.icon" />
          </svg>
        </a>
      </mat-grid-tile>

    }
  }
</mat-grid-list>
