#flashlight {
  position: fixed;
  pointer-events: none;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(247, 255, 0, 0.85) 0%, transparent 80%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index: 9999;
  transition: opacity 0.2s ease;
}

#secret {
  position: absolute;
  bottom: 120px;
  left: 40px;
  color: #0050ff;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#secret-code {
  position: absolute;
  top: 30px;
  right: 120px;
  color: #cf2c2c;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.noSelect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

