/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'Pigpen';
  /* stylelint-disable-next-line */
  src: url("assets/fonts/PigpenCipher.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
